// html, body{
//     height: 100%;
// }

// .main-content{
//     overflow: scroll;
    
// }

#section_one{

background: url("/img/high-tech.jpg")  center center;  
background-color: #cccccc;
background-repeat: no-repeat;
width: 100%;
height:500px;
background-size: cover;
display: flex;
align-items: center;
justify-content: center;

.jumbotron{
    background: rgba(0,0,0, .6);
    padding: 40px 15px;
    text-align: center;
    color: #fff;
    font-size: 36px;
    text-transform: uppercase;
    align-content: center;
    .button{
        font-size: 20px;
        width: 100%;
        padding: 10px 20px;
        text-align: center;
        margin: 15px 0;
        background-color: gold;
        color: rebeccapurple;
    }
    
}

}

#section_two{
    height: 500px;
    align-content: center;
    font-size: 22px;
    text-transform: uppercase; 
    background-color: rgb(158, 162, 159);
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    .fas{
        padding: 25px;
        font-size: 5rem;
    }
    
    table, th, td,tr{
    //   border: 1px solid black;
      // text-align: center;
      padding: 15px;
  }
}  

#section_three{
    height: 500px;
    align-content: center;
    font-size: 36px;
    text-transform: uppercase;
    background-color: rgb(68, 68, 110);
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

// table {
//     @extend %table;
//     @extend %table-bordered;
// }
