html, body{
    height: 100%;
}

.jumbotron{

background: url("/img/high-tech.jpg");  
background-color: #cccccc;
height: 600px;
width: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: 100%;
position: relative;
}
                            // img{
                            //   height:600px;
                            //   width: 600px;
                            // }